<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<PublishProvider>FileSystem</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish />
		<LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<PublishDir>C:\temp\publish_test</PublishDir>
		<DeleteExistingFiles>True</DeleteExistingFiles>
		<PrecompileBeforePublish>True</PrecompileBeforePublish>
		<EnableUpdateable>False</EnableUpdateable>
		<DebugSymbols>True</DebugSymbols>
		<WDPMergeOption>DonotMerge</WDPMergeOption>
		<MvcBuildViews>False</MvcBuildViews>
		<Platform>x64</Platform>
	</PropertyGroup>
</Project>